$color_1: #24272e;
$color_2: #3b404c;
$color_3: #fce6c4;
$color_4: #4f4f4f;
$color_5: #ebebeb;
$color_6: #e2e2e2;
$color_default_text: #000;
$color_background: #d1e9fd;
$color_borders: #cac7c7;
$color_body_nav: #6bb6fb;
$color_body_links: #005bf8;

$heading_fontstack: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
// Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
// Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
// Didot,"Bodoni MT", "Century Schoolbook", "Niagara Solid", Utopia, Georgia, Times, "Times New Roman", serif;

$para_fontstack: Arial, "Helvetica Neue", sans-serif;
$code_fontstack: Monaco, Menlo,'Courier New',Courier,monospace;

$font-base: 16px;
$font-base-line-height: 24px;


$margin_default: em(16px);

$mobile: 25em; // 400px
$pad: 48em; // 768px
$desktop: 61.25em; // 960px
$super-desktop: 62.375em; //998px